.page-order{
  min-height: 100vh;
  background-color: #fff;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.address-wrap {
  padding: 0.2rem 0.3rem 0.38rem;
  position: relative;
  font-size: 0.28rem;
  &::before{
    font-family: iconfont;
    width: .32rem;
    height: .32rem;
    line-height: .32rem;
    text-align: center;
    color: #999;
    text-align: center;
    content: '\e606';
    position: absolute;
    right: 0.3rem;
    top: 50%;
    display: block;
    margin-top: -.25rem;
  }
  &::after{
    width: 100%;
    height: 0.08rem;
    background-image: repeating-linear-gradient( 45deg, #fdcd4d,  #fdcd4d .1rem, #84614d .1rem, #84614d .2rem );
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
  }
}

.persion-info{
  line-height: 0.64rem;
  font-weight: bold;

  .phone-text{
    margin-left: 1rem;
  }
}

.address {
  position: relative;
  margin-top: 0.2rem;
  padding:0 0.48rem 0 0.4rem;
  word-break: break-all;
  // font-size: 0.24rem;
  line-height: 0.32rem;
  &::before {
    width: .32rem;
    height: .32rem;
    line-height: .32rem;
    text-align: center;
    font-size: .32rem;
    color: #999;
    font-family: iconfont;
    position: absolute;
    left: 0;
    top: 0;
    content: '\e68d';
  }
}

.address-null {
  line-height: 1.16rem;
  text-align: center;
}

.goods-wrap {
  font-size:0.28rem;
  margin-top: 0.1rem;
}

.goods-list {
  padding: 0.2rem 0.3rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #efefef;
  .images {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 0.2rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .info-wrap{
    flex:1;
    overflow: hidden;
  }

  .title {
    font-size: 0.28rem;
    font-weight: normal;
    line-height: 0.44rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .attr {
    color: #999;
    margin-top: 0.1rem;
    span {
      margin-left: 0.8rem;
      &:first-child{
        margin-left: 0;
      }
    }
  }
  .info{
    margin-top: 0.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .32rem;
    .amount{
      color: #666;
    }
    .price{
      color: #f51d2a;
    }
  }
}

.total-wrap {
  height: .88rem;
  border-bottom: 1px solid #efefef;
  padding:  0 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.32rem;

  h2 {
    font-size: 0.32rem;
    color: #999;
    font-weight: normal;
  }
  p{
    color: #f51d2a;
  }
}

.balance-wrap {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top:1px solid #efefef;
  box-sizing: border-box;
  display: flex;
  background-color: #fff;
  z-index: 50;

  .price-wrap{
    flex: 1;
    overflow: hidden;
    text-align: right;

    .price{
      color: #f51d2a;
    }
  }

  .btn {
    width: 2rem;
    height: 1rem;
    display: block;
    text-align: center;
    background-color: #cc0004;
    color: #fff;
    margin-left: 0.2rem;
  }
}